<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hziee.dao.AuthorityMapper">
  <resultMap id="BaseResultMap" type="cn.edu.hziee.model.Authority">
    <id column="au_id" jdbcType="INTEGER" property="auId" />
    <result column="au_name" jdbcType="VARCHAR" property="auName" />
    <result column="au_info" jdbcType="VARCHAR" property="auInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    au_id, au_name, au_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from authority
    where au_id = #{auId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from authority
    where au_id = #{auId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.hziee.model.Authority">
    <selectKey keyProperty="auId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into authority (au_name, au_info)
    values (#{auName,jdbcType=VARCHAR}, #{auInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.hziee.model.Authority">
    <selectKey keyProperty="auId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="auName != null">
        au_name,
      </if>
      <if test="auInfo != null">
        au_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="auName != null">
        #{auName,jdbcType=VARCHAR},
      </if>
      <if test="auInfo != null">
        #{auInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hziee.model.Authority">
    update authority
    <set>
      <if test="auName != null">
        au_name = #{auName,jdbcType=VARCHAR},
      </if>
      <if test="auInfo != null">
        au_info = #{auInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where au_id = #{auId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hziee.model.Authority">
    update authority
    set au_name = #{auName,jdbcType=VARCHAR},
      au_info = #{auInfo,jdbcType=VARCHAR}
    where au_id = #{auId,jdbcType=INTEGER}
  </update>
</mapper>